<!DOCTYPE html>
<html lang="Korea">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- 페이지를 작성한 제작자명 -->
    <meta name="Author" content="스웹트파운데이션" />
    <!-- 검색엔진에 의해 검색되는 단어를 지정 -->
    <meta name="Keywords" content="swept,스웹트파운데이션,스웹트" />

    <title>SWEPT</title>
    <!--파비콘-->
    <!--안드로이드버전-->
    <link rel="icon" href="../image/swept_fav.png" />
    <!--아이폰 애플버전-->
    <link rel="apple-touch-icon" href="../image/swept_fav.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/popup.css" />
    <script src="../javascript/jquery-3.5.1.min.js"></script>
    <script src="../javascript/partial.js"></script>
    <script src="../javascript/common.js"></script>
    <script src="../javascript/index.js"></script>
    <script>
      function preparing() {
        alert("준비중입니다.");
      }
      function popup() {
        $("#popup").hide();
      }
    </script>
  </head>
  <body>
    <header class="main_header">
      <div class="clearfix">
        <h1>
          <a class="logo" href="index.html"
            ><img src="../image/SWEPT_logo(wh).png" alt="SWEPT_logo"
          /></a>
        </h1>
        <div class="m_gnb_btn"></div>
        <nav>
          <ul class="clearfix">
           <li>
              <p class="mainMenu">
                Introduction<img src="../image/submenu_close.png" alt="+" /><img
                  src="../image/submenu_close.png"
                  alt="-"
                />
              </p>
              <ul class="submenu">
                <li><a href="roadmap.html">Road Map</a></li>
                <li><a href="advisor.html">Advisor</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="whitepaper.html">White Paper</a></li>
              </ul>
            </li>
            <!-- <li>
              <p class="mainMenu">
                Project<img src="../image/submenu_close.png" alt="+" /><img
                  src="../image/submenu_close.png"
                  alt="-"
                />
              </p>
              <ul class="submenu">
                <li><a href="cryptobank.html">Crypto Bank</a></li>
              </ul>
            </li> -->

            <li>
              <p class="mainMenu">
                News<img src="../image/submenu_close.png" alt="+" /><img
                  src="../image/submenu_close.png"
                  alt="-"
                />
              </p>
              <ul class="submenu">
                <li><a href="notice.html">Notice</a></li>
                <li><a href="pressrelease.html">Press Release</a></li>
                <li><a href="video.html">Video</a></li>
              </ul>
            </li>
            <li>
              <p class="mainMenu">
                Community<img src="../image/submenu_close.png" alt="+" /><img
                  src="../image/submenu_close.png"
                  alt="-"
                />
              </p>
              <ul class="submenu">
                <li>
                  <a href="#none" target="_blank"
                    >Blog</a
                  >
                </li>
               
                <li><a href="#none" target="_blank">Facebook</a></li>
                <li><a href="#none" target="_blank">Instagram</a></li>
                <li>
                  <a
                    href="#none"
                    target="_blank"
                    >Telegram</a
                  >
                </li>
              </ul>
            </li>
            <!-- <li>
              <a href="#none" onclick="preparing();" class="mainMenu"
                >Smart Contract</a
              >
              <ul class="submenu">
                <li><a href="#none"></a></li>
              </ul>
            </li> -->
            <li>
              <a href="contactus.html"  class="mainMenu">Contact Us</a>
              <ul class="submenu">
                <li><a href="#none"></a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <ul class="lang">
          <li>
            KOR
            <ul>
              <li onclick="preparing();">ENG</li>
              <li>KOR</li>
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="main_video">
        <video muted autoplay loop muted playsinline>
          <source
            id="video1"
            src="../image/index/200702 SWEPT_main_video.mp4"
            type="video/mp4"
          />
        </video>
        <p>
          <i>Society for worldwide<br />Exchange Payment and Transfer</i>
          <span>
            글로벌 블록체인 통합 송금 및 결제 게이트웨이
            <b>전 세계 누구나, 어디에서나, 어떤 화폐로든, 어떤 기기에서든</b>
          </span>
        </p>
        <div class="pointer_wrap">
          <div class="pointer"></div>
        </div>
        <div class="video_cover"></div>
      </div>
      <div class="container">
        <section class="content con1">
          <article>
            <h2>SWEPT</h2>
            <i
              ><em class="m_text_block">SWEPT는 </em>블록체인 통합 간편송금 및
              결제 게이트웨이이며<br />
              모든 거래기록을 안전하고 투명하게 기록하는 통합 블록체인 금융망
              입니다.</i
            >
            <ul class="clearfix">
              <li class="icon_move">
                <div>
                  <img src="../image/index/motion_01.png" alt="Real-Time" />
                  <!-- <img 
                    src="../image/index/motion_01.png" 
                    alt="" 
                    data-animated="../image/index/motion_1.gif" 
                    data-static="../image/index/motion_01.png" 
                    > -->
                </div>
                <p>
                  <em>Payment & Transfer</em>
                  실시간 결제와 송금
                </p>
                <strong>
                  SWEPT는 전세계 가상자산 블록체인 거래망입니다.<br />
                  SWEPT망을 통한다면 전 세계 어디서나 가상자산 간편결제,송금,
                  승인, 정산까지 편리하게 이용 가능합니다. 또한 통합형 QR
                  시스템을 통하여 단말기의 제약없이 전 세계 수십만개의
                  가맹점에서 빠르고 쉽게 QR 간편결제를 이용할 수 있습니다.
                </strong>
              </li>
              <li class="icon_move">
                <div>
                  <img src="../image/index/motion_02.png" alt="worldwide" />
                  <!-- <img 
                    src="../image/index/motion_02.png" 
                    alt="" 
                    data-animated="./chaeng-animated.gif" 
                    data-static="../image/index/motion_02.png" 
                    > -->
                </div>
                <p>
                  <em>Security</em>
                  전 세계 어디서나 간편하게
                </p>
                <strong>
                  국내특금법을 포함한 전 세계 자금세탁방지법을 엄격히 준수 하며
                  공신력있는 개인신원인증 서비스와 차별화된 블록체인 기술을
                  기반으로 가상자산 거래정보와 유저의 정보를 안전하 게
                  기록합니다.
                </strong>
              </li>
              <li class="icon_move">
                <div>
                  <img src="../image/index/motion_03.png" alt="Any Currency" />
                  <!-- <img 
                    src="../image/index/motion_03.png" 
                    alt="" 
                    data-animated="./chaeng-animated.gif" 
                    data-static="../image/index/motion_03.png" 
                    > -->
                </div>
                <p>
                  <em>Transparency</em>
                  어떤 거래든 투명하고 안전하게
                </p>
                <strong>
                  가상자산 결제 및 송금을 포함한 모든 거래내역은 안전하고
                  투명하게 SWEPT 블록체인 장부에 기록되게 됩니다.
                  <br />따라서 불법자금 출처 및 송수인 실명추적이 가능합니다.
                </strong>
              </li>
            </ul>
          </article>
        </section>
        <section class="content con2 on">
          <div class="back_img"></div>
          <article>
            <p>White Paper</p>
            <span
              >SWEPT는 혁신적인 블록체인 플랫폼입니다.<br />
              안전하고 투명하게, 전세계 어디서든<em class="m_text_block"
                >결제와 송금이 가능한 게이트웨이 솔루션입니다.</em
              ></span
            >
          </article>
          <div class="btn_wrap">
            <a href="javascript:void(0)" class="blue_btn">View more</a>
          </div>
        </section>
        <section class="content con3">
          <article>
            <h2>
              <span>About SWEPT</span>
              <em class="m_text_block">SWEPT is</em> an innovative pay solution
            </h2>
            <ul class="tab_btn">
              <li class="on" data-tab="tab1">
                Real-time Gateway
              </li>
              <li data-tab="tab2"><em class="m_text_block">QR</em> System</li>
              <li data-tab="tab3">
                Payment Guarantee
              </li>
            </ul>
            <div class="tab_wrap">
              <div id="tab1" class="tab_con tab_content1 on">
                <div class="tab_con2">
                  <p>
                    가상자산 결제 및 송금을
                    <span>가능하게하는 SWEPT Network</span>
                  </p>
                  <div>
                    <img
                      src="../image/index/tabimg1.png"
                      alt="실시간 결제 및 송금 게이트웨이"
                    />
                  </div>
                </div>
              </div>
              <div id="tab2" class="tab_con tab_content2">
                <div class="tab_con2">
                  <p>
                    그 어떤 간편결제도 언제든지 전세계 가맹점에서
                    <span>통합형 QR로 결제</span>
                  </p>
                  <div>
                    <img
                      src="../image/index/tabimg2.png"
                      alt="QR 결제 시스템"
                    />
                  </div>
                </div>
              </div>
              <div id="tab3" class="tab_con tab_content3">
                <div class="tab_con2">
                  <p>
                    에스크로 컴퍼니 - ICMF를 통한
                    <span>지급보증</span>
                  </p>
                  <div>
                    <img src="../image/index/tabimg3.png" alt="지급보증" />
                  </div>
                </div>
              </div>
              <ol class="tab_btn_num">
                <li id="tab_page1" class="on"></li>
                <li id="tab_page2"></li>
                <li id="tab_page3"></li>
              </ol>
            </div>
          </article>
        </section>
        <section class="content con4">
          <h2>Business Model</h2>
          <article>
            <div>
              <p>SWEPT 시스템</p>
              <img
                class="bmimg1"
                src="../image/index/swept_bm01.png"
                alt="SWEPT 정산 시스템"
              />
            </div>
          </article>
          <article>
            <div>
              <p>거래소와 거래소의 송금형태</p>
              <img
                class="bmimg2"
                src="../image/index/swept_bm02.png"
                alt="거래소와 거래소의 송금형태"
              />
            </div>
          </article>
          <article>
            <div>
              <p>SWEPT를 통한 사용자와 가맹점의 결제 형태</p>
              <img
                class="bmimg3"
                src="../image/index/swept_bm03.png"
                alt="거래소와 거래소의 송금형태"
              />
            </div>
          </article>
        </section>
        <section class="con5">
          <article>
            <img
              src="../image/index/SWEPT_logo(wh)big-size.png"
              alt="SWEPT Foundation"
            />
            <p>
              SWEPT망을 통해서 거래소는 선지급, 후정산 방식으로<br />
              가상자산의 가격 변동성과 트랜잭션의 시간지연 해결이 가능합니다.
            </p>
            <ul>
              <li>
                - SWEPT Network는 빠른 결제와 송금을 위해 거래소간 연결된 시스템
                구현
              </li>
              <li>- 선지급, 후정산 시스템으로 진행</li>
              <li>- 결제시 사용자로부터 상인(거래소)에도 실시간 도달</li>
            </ul>
          </article>
        </section>
        <section class="content con6">
          <h2>Partners</h2>
          <article>
            <p>Local Partners</p>
            <div class="partners partners1">
              <!--   <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            /> -->
              <img
                src="../image/index/partners/partners1.png"
                alt="hancomwith_logo"
                onmouseover="this.src='../image/index/partners/h_partners1.png'"
                onmouseout="this.src='../image/index/partners/partners1.png'"
              />
              <img
                src="../image/index/partners/partners2.png"
                alt="tmonet_logo"
                onmouseover="this.src='../image/index/partners/h_partners2.png'"
                onmouseout="this.src='../image/index/partners/partners2.png'"
              />
              <img
                src="../image/index/partners/partners3.png"
                alt="tpayment_logo"
                onmouseover="this.src='../image/index/partners/h_partners3.png'"
                onmouseout="this.src='../image/index/partners/partners3.png'"
              />
              <img
                src="../image/index/partners/partners4.png"
                alt="upay_logo"
                onmouseover="this.src='../image/index/partners/h_partners4.png'"
                onmouseout="this.src='../image/index/partners/partners4.png'"
              />
              <img
                src="../image/index/partners/partners5.png"
                alt="wmd_logo"
                onmouseover="this.src='../image/index/partners/h_partners5.png'"
                onmouseout="this.src='../image/index/partners/partners5.png'"
              />
              <img
                src="../image/index/partners/partners6.png"
                alt="doobit_logo"
                onmouseover="this.src='../image/index/partners/h_partners6.png'"
                onmouseout="this.src='../image/index/partners/partners6.png'"
              />
              <img
                src="../image/index/partners/partners7.png"
                alt="paycrux_logo"
                onmouseover="this.src='../image/index/partners/h_partners7.png'"
                onmouseout="this.src='../image/index/partners/partners7.png'"
              />
              <img
                src="../image/index/partners/partners8.png"
                alt="kbanker_logo"
                onmouseover="this.src='../image/index/partners/h_partners8.png'"
                onmouseout="this.src='../image/index/partners/partners8.png'"
              />
              <img
                src="../image/index/partners/partners9.png"
                alt="doichaang_logo"
                onmouseover="this.src='../image/index/partners/h_partners9.png'"
                onmouseout="this.src='../image/index/partners/partners9.png'"
              />
              <img
                src="../image/index/partners/partners10.png"
                alt="chanyul_logo"
                onmouseover="this.src='../image/index/partners/h_partners10.png'"
                onmouseout="this.src='../image/index/partners/partners10.png'"
              />
              <img
                src="../image/index/partners/partners11.png"
                alt="daeqonpos_logo"
                onmouseover="this.src='../image/index/partners/h_partners11.png'"
                onmouseout="this.src='../image/index/partners/partners11.png'"
              />
              <img
                src="../image/index/partners/partners12.png"
                alt="pharmplus_logo"
                onmouseover="this.src='../image/index/partners/h_partners12.png'"
                onmouseout="this.src='../image/index/partners/partners12.png'"
              />
              <img
                src="../image/index/partners/partners13.png"
                alt="delion_logo"
                onmouseover="this.src='../image/index/partners/h_partners13.png'"
                onmouseout="this.src='../image/index/partners/partners13.png'"
              />
            </div>
          </article>
          <article>
            <p>Global Partners</p>
            <div class="partners partners2">
              <!-- <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            />
            <img
              src="../image/index/partners/partners.png"
              alt="partners"
            /> -->
              <img
                src="../image/index/partners/Gpartners1.png"
                alt="huobi_logo"
                onmouseover="this.src='../image/index/partners/h_Gpartners1.png'"
                onmouseout="this.src='../image/index/partners/Gpartners1.png'"
              />
              <img
                src="../image/index/partners/Gpartners2.png"
                alt="guangcai_logo"
                onmouseover="this.src='../image/index/partners/h_Gpartners2.png'"
                onmouseout="this.src='../image/index/partners/Gpartners2.png'"
              />
              <img
                src="../image/index/partners/Gpartners3.png"
                alt="swisscapital_logo"
                onmouseover="this.src='../image/index/partners/h_Gpartners3.png'"
                onmouseout="this.src='../image/index/partners/Gpartners3.png'"
              />
              <img
                src="../image/index/partners/Gpartners4.png"
                alt="blockglobal_logo"
                onmouseover="this.src='../image/index/partners/h_Gpartners4.png'"
                onmouseout="this.src='../image/index/partners/Gpartners4.png'"
              />
              <img
                src="../image/index/partners/Gpartners5.png"
                alt="masex_logo"
                onmouseover="this.src='../image/index/partners/h_Gpartners5.png'"
                onmouseout="this.src='../image/index/partners/Gpartners5.png'"
              />
            </div>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div id="footer" class="clearfix"></div>
    </footer>
    <a href="#" class="top_btn"> </a>
    <!-- <div id="popup">
      <p>
        <img src="../image/popup.png" alt="" class="pc_popup" />
        <img src="../image/m_popup.png" alt="" class="m_popup" />
        <button onclick="popup();">확인</button>
      </p>
    </div> -->
  </body>
</html>
