<!DOCTYPE html>
<html lang="Korea">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- 페이지를 작성한 제작자명 -->
    <meta name="Author" content="스웹트파운데이션" />
    <!-- 검색엔진에 의해 검색되는 단어를 지정 -->
    <meta name="Keywords" content="swept,스웹트파운데이션,스웹트" />

    <title>SWEPT</title>
    <!--파비콘-->
    <!--안드로이드버전-->
    <link rel="icon" href="../image/swept_fav.png" />
    <!--아이폰 애플버전-->
    <link rel="apple-touch-icon" href="../image/swept_fav.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/news.css" />

    <script src="../javascript/jquery-3.5.1.min.js"></script>
    <script src="../javascript/partial.js"></script>
    <script src="../javascript/nav.js"></script>
  </head>
  <body>
    <header id="header"></header>
    <main>
      <div class="container_header">
        <em>Society for worldwide Exchange Payment and Transfer</em>
        <h2>Press Release</h2>
        <div>
          <ul class="clearfix">
            <li class="on"><a href="pressrelease.html">Press Release</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="notice.html">Notice</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <section>
          <h3>보도자료</h3>
          <article>
            <table class="contents_desc clearfix">
              <tr>
                <th>
                  <p>
                    두빛나래소프트, EBS 다큐프라임서 가상자산 결제 수단으로 소개
                  </p>
                  <em>2020. 06. 08</em>
                </th>
              </tr>
              <tr>
                <td>
                  <p class="imgArea">
                    <img src="../image/press/press10.jpg" alt="" />
                    <span class="gray"
                      >EBS 다큐프라임에 방영된 크립토뱅크 결제 모습</span
                    >
                  </p>
                  두빛나래소프트가 개발한 가상자산 결제 플랫폼 크립토뱅크(Crypto
                  Bank)가 지난 6월 8~10일에 방영된 EBS 다큐프라임 3부작 중 3부에
                  소개됐다.<br /><br />

                  한국교육방송공사(EBS)와 한국은행이 공동 제작한 3부작
                  다큐멘터리는 1부 물가를 조절하는 보이지 않는 손, 2부 금융위기,
                  돈의 나비 효과, 3부 화폐와 중앙은행의 미래 등으로 구성됐다.<br /><br />

                  그 중 3부 '혼돈시대의 중앙은행'은 중국의 금 거래소, 일본의
                  현금 사회, 중국의 디지털자산 CBDC, 새로운 화폐 가상자산을
                  다루며 변해가는 화폐의 종류와 가치에 초점을 맞췄다.
                  커피전문점에서 두빛나래소프트가 개발한 모바일 앱인
                  크립토뱅크를 활용해 가상자산으로 실제 결제하는 모습도
                  담았다.<br /><br />

                  다큐프라임 패널들이 앱을 켜고 단말기에 출력된 QR코드를
                  카메라로 스캔하자 보유하고 있던 비트코인이 실시간으로
                  차감되며, 빠른 속도로 결제가 완료됐다. 패널들은 크립토뱅크
                  앱에서 결제 내역을 확인하며 원화 단위에 맞춰 비트코인이 차감된
                  개수를 확인했다고 회사측은 전했다.<br /><br />

                  두빛나래소프트 크립토뱅크는 각각 다른 거래소에서 보유하고 있는
                  가상자산을 거래소별로 한번에 관리할 수 있고, 별도 과정 없이
                  QR코드 스캔을 통해 가상자산을 결제에 사용할 수 있는 가상자산
                  올인원 플랫폼이다.<br /><br />

                  박대용 두빛나래소프트 대표는 "가상자산 결제 플랫폼들이
                  개발단계에서 무너지거나 상용화에 실패한 이유는 바로 실물경제와
                  연결할 수 있는 방법을 찾기 매우 어려웠기 때문”이라며
                  “크립토뱅크는 SWEPT라는 블록체인 네트워크를 이용해 송금자,
                  수신자, 거래 일시, 거래 금액등을 블록체인 장부에 기록하고
                  관리하기 때문에 특금법 자금세탁방지(AML)을 준수할 뿐만 아니라,
                  실제 실물경제에서 크립토뱅크 가맹점을 점차 늘려가고 있으므로
                  거래소와 사용자, 가맹점등 모두에게 편의성과 안전성을 제공해 줄
                  수 있는 플랫폼"이라고 소개했다.<br /><br />

                  크립토뱅크는 현재 베타버전 개발이 완료된 상태다. 마무리
                  테스트가 진행중으로 곧 상용화 될 예정이라고 회사측은
                  설명했다.<br /><br />

                  이번 다큐프레임에선 베네수엘라 카라카스에서 정부가 발행한
                  디지털 화폐인 페트로를 갖고 결제를 하는 장면도 전달됐다.
                  진행자들은 생필품 매장에서 몇 가지 물건을 고른 뒤 전용앱으로
                  QR코드를 스캔해 10분 정도에 결제를 마무리했다.
                </td>
              </tr>
              <tr>
                <td>
                  출처 : 디지털투데이
                  (DigitalToday)(http://www.digitaltoday.co.kr)
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="http://www.digitaltoday.co.kr/news/articleView.html?idxno=238337"
                    target="_blank"
                    >기사 보러가기 →</a
                  >
                </td>
              </tr>
              <tr class="list_btn">
                <td>
                  <a href="pressrelease.html">목록</a>
                </td>
              </tr>
            </table>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div id="footer" class="clearfix"></div>
    </footer>
  </body>
</html>
