<!DOCTYPE html>
<html lang="Korea">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />
    <!-- 페이지를 작성한 제작자명 -->
    <meta name="Author" content="스웹트파운데이션" />
    <!-- 검색엔진에 의해 검색되는 단어를 지정 -->
    <meta name="Keywords" content="swept,스웹트파운데이션,스웹트" />

    <title>SWEPT</title>
    <!--파비콘-->
    <!--안드로이드버전-->
    <link rel="icon" href="../image/swept_fav.png" />
    <!--아이폰 애플버전-->
    <link rel="apple-touch-icon" href="../image/swept_fav.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../css/news.css" />

    <script src="../javascript/jquery-3.5.1.min.js"></script>
    <script src="../javascript/partial.js"></script>
    <script src="../javascript/nav.js"></script>
  </head>
  <body>
    <header id="header"></header>
    <main>
      <div class="container_header">
        <em>Society for worldwide Exchange Payment and Transfer</em>
        <h2>Press Release</h2>
        <div>
          <ul class="clearfix">
            <li class="on"><a href="pressrelease.html">Press Release</a></li>
            <li><a href="video.html">Video</a></li>
            <li><a href="notice.html">Notice</a></li>
          </ul>
        </div>
      </div>
      <div class="container">
        <section>
          <h3>보도자료</h3>
          <article>
            <table class="contents_desc clearfix">
              <tr>
                <th>
                  <p>
                    크립토뱅크 2호 가맹점에 도이창커피 롯데프리미엄 아울렛
                    이천점
                  </p>
                  <em>2020. 05. 28</em>
                </th>
              </tr>
              <tr>
                <td>
                  <p class="imgArea">
                    <img src="../image/press/press09.jpg" alt="" />
                    <span class="gray"
                      >도이창커피 롯데프리미엄 아울렛 이천점에서 크립토뱅크를
                      통해 결제를 진행하는 모습</span
                    >
                  </p>
                  블록체인 핀테크 기업 두빛나래소프트(대표 박대용)가 크립토뱅크
                  두 번째 가맹점으로 도이창커피 롯데프리미엄 아울렛 이천점이
                  선정됐다고 밝혔다.<br /><br />

                  도이창커피는 전세계 상위 1% 스페셜티 커피를 판매하는 프리미엄
                  커피 전문점이다. 태국 도이창커피 농장에서 생산되는 커피를
                  수입, 판매하고 있다. 스페셜티 커피는 지리, 기후, 생산지 등
                  특별한 환경에서 자란 커피 중 스페셜티 커피협회(SCA)의 엄격한
                  평가를 거쳐 100점 만점에 80점 이상을 받은 우수한 등급의 커피를
                  말한다. 도이창커피는 SCA 멤버이며 피베리 기준 91~93 점인
                  커피를 취급한다.<br /><br />

                  도이창커피 롯데프리미엄 아울렛 이천점에선 크립토뱅크를 통한
                  가상자산(암호화폐) 결제를 할 수 있다. <br /><br />

                  크립토뱅크는 블록체인 핀테크 기업 두빛나래소프트의 가상자산
                  올인원 플랫폼으로 가상자산을 한꺼번에 조회, 관리, 송금, 결제할
                  수 있는 기능이 있다.
                </td>
              </tr>
              <tr>
                <td>
                  출처 : 디지털투데이
                  (DigitalToday)(http://www.digitaltoday.co.kr)
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="http://www.digitaltoday.co.kr/news/articleView.html?idxno=235893"
                    target="_blank"
                    >기사 보러가기 →</a
                  >
                </td>
              </tr>
              <tr class="list_btn">
                <td>
                  <a href="pressrelease.html">목록</a>
                </td>
              </tr>
            </table>
          </article>
        </section>
      </div>
    </main>
    <footer>
      <div id="footer" class="clearfix"></div>
    </footer>
  </body>
</html>
